.custom-navbar {
	background-color: #1a2b44 !important;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	color: white !important;
	font-family: 'Roboto', sans-serif;
	position: sticky;
	top: 0;
	z-index: 100;
}

.navbar-nav	{
	gap: 5px;
}

.active-link {
	color: white;
}

.nav-logo{
	width: 25px;
	height: auto;
	object-fit: contain;
}

.nav-title {
	margin-right: 0;
}
  
