/* alternate background colors */
.list-group-item.odd {
	background-color: #f8f9fa;
}
.list-group-item.even {
	background-color: #e2e6ea;
}

/* flex container */
div.list-group-item {
  display: flex;  
}

.team-info {
	display: flex; /* flex conatiner for rank, img, name*/
  width: 20%;
  min-width: 200px;

}

.team-number{
  flex: 0 0 25px; /* fixed width */
}
.team-img{
  flex: 0 0 25px; /* fixed width */
  margin-left: 5px;
  height: 25px;
  width: auto;
}

.team-name {
  flex: 1; /* fill the rest of team-info */
  margin-left: 10px;
}
  

.team-stats{
  flex-grow: 1; /* take up the rest of list-group-item */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal-width columns */
  justify-items: center;
  text-align: left;
}

