.list-group-item.ranking-header{
	background-color: #1a2b44;
	color: white;
	font-family: 'Roboto', sans-serif;
	flex-direction: column;
	position: sticky;
	top: 0;
	z-index: 1000;
}

div.header-dropdowns{
	padding-bottom: 5px;
}

.bi{
	margin-right: 5px ;
}

.hover-effect:hover {
	color: #ffdc51;
  }

/* flex container */
div.header-labels {
	display: flex;  
	width: 100%;
}

.ranking-title{
	/* background-color: lightblue; */
	width: 20%;
	min-width: 200px;
}

.league-title{

}

.stats-titles{
	flex-grow: 1; /* take up the rest of list-group-item */
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Create 3 equal-width columns */
	justify-items: center;
	text-align: left;
	/* background-color: lightcoral; */
}

.info-tooltip{
	margin-left: 3px;
}