.ranking-card {
	padding: 8px;
	border-radius: 8px, 8px, 0, 0;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	border-bottom: 1px solid #dee2e6;
	display: flex;
}
  
.ranking-card:hover {
	background-color: #f5f5f5;
}

.card-left {
	flex: 1;
	display: flex;
	align-items: center;
}

.card-right {
	flex: 10;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ranking-card .team-info {
	display: flex;
	align-items: center;
	width: 20%;
}
  

.team-link {
	color: #212529;
	text-decoration: none;
}

.team-name:hover{
	color: #212529;
	text-decoration: none; 
}

.ranking-card .team-img {
	height: 32px;
	width: 32px; 
	object-fit: contain; 
	margin-right: 6px;
}

.ranking-card .team-details {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.ranking-card .team-name {
	font-size: 16px;
	font-weight: 500;
	margin: 0;
}

.ranking-card .team-number {
	font-size: 16px;
	color: #6b7280;
	margin-left: 5px;
}

.ranking-card .rating-info {
	text-align: right;
}

.ranking-card .team-rating {
	font-size: 16px;
	font-weight: 500;
}

.ranking-card .rating-label {
	font-size: 12px;
	color: #6b7280;
}


.schedule-info{
	color: #6b7280;
}


.team-record{
	color: #6b7280;
}
