.ranking-cards-header {
	position: sticky;
	top: 0px;
	z-index: 5;
	background-color: white;
	border-bottom: 1px solid #dee2e6;
	padding: 5px;
}

.ranking-list-wrapper {
	max-height: 100%;
	overflow-y: scroll;
	border-radius: 8px;
  }

.ranking-cards-wrapper {
	max-height: 100%;
	overflow-y: scroll;
} 


@media (max-width: 768px) {
	.ranking-cards-wrapper {
	  max-height: 500px;
	}
  }
  
