div.header-container{
	display: flex;
	gap: 0px;
}

div.header-dropdowns{
	display: flex;
	gap: 15px;
	z-index: 3;
}

.last-updated{
	color: #6c757d;
	align-self: center;
	margin-left: auto;
	margin-right: 5px;
	font-size: 0.85rem;

}

@media (max-width: 768px) {
	.header-container{
		flex-direction: column;
	}

	.header-dropdowns{
		padding: 0;
		display: flex;
		padding: 10px;
		gap: 10px;
		width: 100%;
	}

	.dropdown-button {
		flex: 1;
	}

	.dropdown-toggle{
		width: 100%;
		border-color: #dee2e6;
	}

	.last-updated{
		align-self: flex-start;
		margin-left: 10px;
		font-size: 0.75rem;
	}
}