.ranking-cards-header {
	position: sticky;
	top: 0px;
	z-index: 5;
	background-color: white;
	border-bottom: 1px solid #dee2e6;
	padding: 5px;
}

.ranking-list-wrapper {
	max-height: 100%;
	overflow-y: scroll;
	border-radius: 8px;
  }

.ranking-cards-wrapper {
	max-height: 100%;
	overflow-y: scroll;
} 


@media (max-width: 768px) {
	.ranking-cards-wrapper {
		position: relative;
	}

	.limit-height {
		max-height: 450px;
	}

	.ranking-expand-row {
		width: 100%;
		text-align: center;
		padding: 10px 0;
		background-color: white;
		color: #333;
		font-weight: 500;
		font-size: 15px;
		border-top: 1px solid #ddd;
		cursor: pointer;
		transition: background 0.2s;
	  }
	  
	  .ranking-expand-row:hover {
		background-color: #eaeaea;
	  }
  }
  
